.grid-cell {
  stroke: grey;
  stroke-width: 1px;

  &.with-road {
    fill: white;
  }

  &.with-building-house {
    fill: orange;
  }
  
  &.with-building-well {
    fill: cyan;
  }
  
  &.with-building-farm,
  &.with-building-granary,
  &.with-building-market {
    stroke: none;
  }
}
