.person {
  stroke: black;
  
  &.person-type-immigrant {
    fill: orange;
  }

  &.person-type-wanderer-workerFinder {
    fill: yellow;
  }

  &.person-type-goodsDeliverer {
    fill: brown;
  }

  &.person-type-wanderer-marketSeller {
    fill: green;
  }

  &.person-type-wanderer-priest {
    fill: silver;
  }
}